*{
    box-sizing: border-box;
}

#filter{
    position: fixed;
 /* background-color: white !important; */
top: 20%
}


.filter-container{
    
/* background-color: rgb(132, 132, 132);    */
background-color: rgb(158, 17, 17) ;

padding: 10px;
border-radius: 10px;
padding-right: 20px;
font-size: 15px;
color: black
}




